pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

code.hljs {
  padding: 3px 5px
}

/*!
Theme: GitHub Like
Description: theme as seen on github.com
Author: github.com
Maintainer: @wiskewu

syntax version: https://github.com/primer/github-syntax-dark
Current colors taken from GitHub's CSS
*/
.hljs {
  color: var(--code-color);
  background: var(--code-color-bg)
}

.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_ {
  color: var(--code-color-keyword)
}

.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_ {
  color: var(--code-color-title)
}

.hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable {
  color: var(--code-color-attr)
}

.hljs-meta .hljs-string,.hljs-regexp,.hljs-string {
  color: var(--code-color-string)
}

.hljs-built_in,.hljs-symbol {
  color: var(--code-color-symbol)
}

.hljs-code,.hljs-comment,.hljs-formula {
  color: var(--code-color-comment)
}

.hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag {
  color: var(--code-color-name)
}

.hljs-subst {
  color: var(--code-color-subst)
}

.hljs-section {
  color: var(--code-color-section);
  font-weight: 700
}

.hljs-bullet {
  color: var(--code-color-bullet)
}

.hljs-emphasis {
  color: var(--code-color-emphasis);
  font-style: italic
}

.hljs-strong {
  color: var(--code-color-strong);
  font-weight: 700
}

.hljs-addition {
  color: var(--code-color-addition);
  background-color: var(--code-color-addition-bg)
}

.hljs-deletion {
  color: var(--code-color-deletion);
  background-color: var(--code-color-deletion-bg)
}
