
:root {
  /* 内容宽度 */
  --content-width: min(720px, 95vw);
  /* 内容外边距 */
  --content-margin: 1rem;
  /* header高度 */
  --header-height: 64px;
  /* footer高度 */
  --footer-height: 64px;
}
/* color from chinese tradition colors, @see https://colors.masantu.com/ */
:root, html[data-theme=light] {
  /* 文字主色 百草霜 */
  --primary-text-color: #303030;
  /* 文字副色 粗晶皀 */
  --secondary-text-color: #43454A;
  /* 边框主色 隐红灰 */
  --primary-border-color: #B598A1;
  /* 背景主色 霜色 */
  --primary-bg-color: #E9F1F6;
  /* 背景副色 铅白 */
  --secondary-bg-color: #F0F0F4;
  /* 链接颜色 浅草绿 */
  --primary-link-color: #057748;

  /* 行内代码字色 红皀 */
  --inline-code-color: #4F5355;
  /* 行内代码背景色 雪白 */
  --inline-code-bg-color: #F2FDFF;

  /* note container color, color from: https://mdit-plugins.github.io/zh/alert.html#%E9%80%89%E9%A1%B9 */
  --note-info-title-color: #656869;
  --note-info-bg-color: rgb(142 150 170 / 14%);

  --note-important-title-color: #6f42c1;
  --note-important-bg-color: rgb(159 122 234 / 14%);

  --note-tip-title-color: #18794e;
  --note-tip-bg-color: rgb(16 185 129 / 14%);

  --note-warning-title-color: #915930;
  --note-warning-bg-color: rgb(234 179 8 / 14%);

  --note-caution-title-color: #b8272c;
  --note-caution-bg-color: rgb(244 63 94 / 14%);

  /* code highlight */
  /* colors token from https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/github.min.css */
  --code-color: #24292e;
  --code-color-bg: #fefefe;
  --code-color-keyword: #d73a49;
  --code-color-title: #6f42c1;
  --code-color-attr: #005cc5;
  --code-color-string: #032f62;
  --code-color-symbol: #e36209;
  --code-color-comment: #6a737d;
  --code-color-name: #22863a;
  --code-color-subst: var(--code-color);
  --code-color-section: #005cc5;
  --code-color-bullet: #735c0f;
  --code-color-emphasis: var(--code-color);
  --code-color-strong: var(--code-color);
  --code-color-addition: #22863a;
  --code-color-addition-bg: #f0fff4;
  --code-color-deletion: #b31d28;
  --code-color-deletion-bg: #ffeef0;

  /* code-lines */
  --code-color-line: var(--code-color);
  --code-color-bg-line: var(--code-color-bg);
  --code-color-inserted-line: #dafbe1;
  --code-color-deleted-line: #ffebe9;
  --code-color-line-indicator: #3b82f6;
  --code-color-highlighted-line: #f0f4f9;
}

html[data-theme=dark] {
  /* 芡食白 */
  --primary-text-color: #E2E1E4;
  /* 苍白 */
  --secondary-text-color: #D1D9E0;
  /* 星灰 */
  --primary-border-color: #B2BBBE;
  /* 漆黑 */
  --primary-bg-color: #161823;
  /* 钢青 */
  --secondary-bg-color: #142334;
  /* 锈绿 */
  --primary-link-color: #B8C8B7;

  /* 淡藕合 */
  --inline-code-color: #D5CCD3;
  /* 承徳皀 */
  --inline-code-bg-color: #5A5C5B;

  /* note container color, color from: https://mdit-plugins.github.io/zh/alert.html#%E9%80%89%E9%A1%B9 */
  --note-info-title-color: #939499;
  --note-info-bg-color: rgb(101 117 133 / 16%);

  --note-important-title-color: #c8abfa;
  --note-important-bg-color: rgb(159 122 234 / 16%);

  --note-tip-title-color: #3dd68c;
  --note-tip-bg-color: rgb(16 185 129 / 16%);

  --note-warning-title-color: #f9b44e;
  --note-warning-bg-color: rgb(234 179 8 / 16%);

  --note-caution-title-color: #f66f81;
  --note-caution-bg-color: rgb(244 63 94 / 16%);

  /* code highlight */
  /* colors token from https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/github-dark.min.css */
  --code-color: #c9d1d9;
  --code-color-bg: #0d1117;
  --code-color-keyword: #ff7b72;
  --code-color-title: #d2a8ff;
  --code-color-attr: #79c0ff;
  --code-color-string: #a5d6ff;
  --code-color-symbol: #ffa657;
  --code-color-comment: #8b949e;
  --code-color-name: #7ee787;
  --code-color-subst: var(--code-color);
  --code-color-section: #1f6feb;
  --code-color-bullet: #f2cc60;
  --code-color-emphasis: var(--code-color);
  --code-color-strong: var(--code-color);
  --code-color-addition: #aff5b4;
  --code-color-addition-bg: #033a16;
  --code-color-deletion: #ffdcd7;
  --code-color-deletion-bg: #67060c;

  /* code-lines */
  --code-color-line: var(--code-color);
  --code-color-bg-line: var(--code-color-bg);
  --code-color-inserted-line: #dafce2;
  --code-color-deleted-line: #ffece9;
  --code-color-line-indicator: #3982f4;
  --code-color-highlighted-line: #423541;
}
